#requirements{
    width: 100%;
    min-height: 80px;
}

label{
    margin-top: 30px;    
}

input{
    height: 35px;
    width: 100%;
}

input, #requirements{
    outline: none;
}
button{
    height: 45px;
    width: 72px;
    border: solid 1.4px var(--color1);
    background-color: transparent;
}