.side-drawer{
    width: 100vw;
    height: 100vh;
    z-index:  2;
    position: absolute;
    display: flex;
    background-image: linear-gradient(to bottom, #f8f9fa, #fff);
    text-shadow: inherit 1px ;
}

.side-drawer-list{
    display: flex;
    flex-direction: column;
    margin: auto;
}
#close-menu-button{
    border: none;
    width: fit-content;
    margin-bottom: 60px;
    color: var(--color1);
}
#close-menu-button:focus{
    outline: none;
}
.side-drawer-item{
    cursor: pointer;
    font-size: 22px;
    margin: 20px auto;
}
.side-drawer-item a{
    color: black;
    text-decoration: none;
}